.custom-navbar {
    background-color: #ffb703;
}

.custom-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px; /* Add margin to the right for spacing */
}

.profile-icon {
    margin-right: 15px; /* Add margin to the right for spacing */
}

.custom-offcanvas {
    background-color: #ffb703;
}

.custom-dropdown {
    background-color: #ffb703;
}

.custom-search-btn {
    background-color: #000000; /* Set background to black */
    color: #ffffff; /* Set text color to white */
    border: none;
}

.custom-search-btn:hover {
    background-color: #333333; /* Darker shade for hover effect */
    color: #ffffff; /* Ensure text color remains white */
}

a{
    color: #000000;
}


/* Dropdown menu style */
.dropdown-menu {
    background-color: #ffb703;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f5a623;
    color: #fff;
}


.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-weight: bold;
    margin-left: 0.5em;
}

.cart-count--overflow {
    background-color: orange; /* Optional: Different color for 10+ */
}
